body {
  text-align: center;
}

.page-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description {
  font-size: 20px;
}

.state {
  stroke-width: 2px;
  stroke: black;
  fill: none;
}

.county {
  stroke-width: 0.5px;
  stroke: white;
}

#tooltip {
  min-width: 100px;
  background-color: lightblue;
  padding: 4px 8px;
  position: absolute;
  white-space: pre-line;
}
